<!doctype html>
html(lang='en')
  head
    include layout/head

  body(itemscope='', itemtype='http://schema.org/WebPage')
    include slides/index

  //- reveal.js
  script(src='../../node_modules/reveal.js/lib/js/head.min.js')
  script(src='../../node_modules/reveal.js/js/reveal.js')

  script.
    var bg_items = [].slice.call( document.querySelectorAll('section') );
    bg_items.forEach((item) => {
      if (item.classList) {
        item.classList.add('c-slide');
      } else {
        item.className += ' c-slide';
      }
    });

    Reveal.initialize({
      controls: false,
      progress: false,
      history: true,
      center: true,
      //- width: "100%",
      //- height: "100%",
      transition: 'fade', // none/fade/slide/convex/concave/zoom
      // Optional reveal.js plugins
      dependencies: [
        {
          src: '../../node_modules/reveal.js/plugin/highlight/highlight.js',
          async: true,
          callback: function() {
            hljs.initHighlightingOnLoad();
          }
        },
        {
          src: '../../node_modules/reveal.js/plugin/notes/notes.js'
        }
      ]
    });
