<!doctype html>
html(lang='en')
  head
    include layout/head

  body(itemscope='', itemtype='http://schema.org/WebPage')
    include slides/index

  //- reveal.js
  script(src='../../node_modules/reveal.js/lib/js/head.min.js')
  script(src='../../node_modules/reveal.js/js/reveal.js')

  script.
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      transition: 'concave', // none/fade/slide/convex/concave/zoom
      // Optional reveal.js plugins
      dependencies: [
        {
          src: '../../node_modules/reveal.js/plugin/highlight/highlight.js',
          async: true,
          callback: function() {
            hljs.initHighlightingOnLoad();
          }
        },
        {
          src: '../../node_modules/reveal.js/plugin/notes/notes.js',
          async: true
        }
      ]
    });
