- var section = 'about me'
- var title = 'Obligatory Slide About The Speaker'

section(class=section)
  .c-slide__header
    h4=title
  .c-slide__body
    .c-slide__content
      h3.fragment(data-fragment-index="1") Brandon Kennedy
      h4.fragment(data-fragment-index="2") UI/UX Developer
      h4.fragment(data-fragment-index="3") Greensboro, NC
      h4.fragment(data-fragment-index="4") Favorite Things: my kids, disc golf, Xbox, knife throwing
      img.jonas.fragment(data-fragment-index="5" src="../lib/images/jonas.jpg")
      img.charlie.fragment(data-fragment-index="6" src="../lib/images/charlie.jpg")
      img.disc-golf.fragment(data-fragment-index="7" src="../lib/images/disc-golf.jpg")
      img.xbox.fragment(data-fragment-index="8" src="../lib/images/xbox.png")
      img.knives.fragment(data-fragment-index="9" src="../lib/images/knives.jpg")
      
      //- .fragment.arrows
      //-   .arrow-pos
      //-     .arrow
      //-   .arrow-pos
      //-     .arrow
      //-   .arrow-pos
      //-     .arrow
  
  aside.notes
    small
      ul
        li UI/UX Developer for a larger corporation
        li in greensboro nc
        li i turn designers' dreams into realities
        li then hand them over so somebody else can take the credit =(
