section.introduction
  //- .c-slide__header
    //- empty
  .c-slide__body--no-header
    .c-slide__content
      h1.title.fragment.destroyable(data-fragment-index="0") Questions?
      h1.title.fragment Thinking Outside the Box With CSS
      h2.fragment
        a(href="http://bit.ly/css-totb-demos", target="blank") bit.ly/css-totb-demos
      //- a.fragment.links(href="http://bit.ly/git-totb") bit.ly/git-totb
      .follow-author.fragment
        h2.u-text--right Brandon Kennedy
        .links.d-flex__column.u-text--right
          a(href="http://codepen.io/brandonkennedy", target="blank") codepen.io/brandonkennedy
          a(href="http://twitter.com/brandontkennedy", target="blank") twitter.com/brandontkennedy
      
      .a__intro.fragment(data-fragment-index="0")
        .box
          .front
          .side
          .brain
          .shadow

  aside.notes
    small
      ul
        li any questions?
        li link to codepen collection of examples
        li follow me if you wanna
