section.pseudo-elements
  .c-slide__header--no-body
    h1 Pseudo Elements
    h3.fragment A CSS selectable <i>part</i> of an element.

  aside.notes
    ul
      li what are they?
      li a css selectable PART of an element



section.pseudo-elements(data-transition='fade-out concave-in')
  .c-slide__header
    h4 Pseudo Elements
    //- h2
  .c-slide__body
    .c-slide__content
      ul.c-pseudo-element-list
        li ::after (:after)
        li ::-ms-fill
        li ::-ms-fill-lower
        li ::-ms-fill-upper
        li ::-ms-thumb
        li ::-ms-track
        li ::-moz-progress-bar
        li ::-moz-range-progress
        li ::-moz-range-thumb
        li ::-moz-range-track
        li ::-webkit-progress-bar
        li ::-webkit-progress-value
        li ::-webkit-slider-runnable-track
        li ::-webkit-slider-thumb
        li ::before (:before)
        li ::first-letter (:first-letter)
        li ::first-line (:first-line)
        li ::selection
        li ::backdrop

  aside.notes
    ul
      li 6 that aren't browser-specific or experimental
      li only 4 that have decent support
      li only 2 that really matter

section.pseudo-elements(data-transition='fade')
  .c-slide__header
    h4 Pseudo Elements
    //- h2
  .c-slide__body
    .c-slide__content
      ul.c-pseudo-element-list
        li ::after (:after)
        li.u-strike ::-ms-fill
        li.u-strike ::-ms-fill-lower
        li.u-strike ::-ms-fill-upper
        li.u-strike ::-ms-thumb
        li.u-strike ::-ms-track
        li.u-strike ::-moz-progress-bar
        li.u-strike ::-moz-range-progress
        li.u-strike ::-moz-range-thumb
        li.u-strike ::-moz-range-track
        li.u-strike ::-webkit-progress-bar
        li.u-strike ::-webkit-progress-value
        li.u-strike ::-webkit-slider-runnable-track
        li.u-strike ::-webkit-slider-thumb
        li ::before (:before)
        li ::first-letter (:first-letter)
        li ::first-line (:first-line)
        li ::selection
        li ::backdrop

  aside.notes
    ul
      li 6 that aren't browser-specific or experimental
      li only 4 that have decent support
      li only 2 that really matter

section.pseudo-elements(data-transition='fade')
  .c-slide__header
    h4 Pseudo Elements
    //- h2
  .c-slide__body
    .c-slide__content
      ul.c-pseudo-element-list
        li ::after (:after)
        li.u-strike--old ::-ms-fill
        li.u-strike--old ::-ms-fill-lower
        li.u-strike--old ::-ms-fill-upper
        li.u-strike--old ::-ms-thumb
        li.u-strike--old ::-ms-track
        li.u-strike--old ::-moz-progress-bar
        li.u-strike--old ::-moz-range-progress
        li.u-strike--old ::-moz-range-thumb
        li.u-strike--old ::-moz-range-track
        li.u-strike--old ::-webkit-progress-bar
        li.u-strike--old ::-webkit-progress-value
        li.u-strike--old ::-webkit-slider-runnable-track
        li.u-strike--old ::-webkit-slider-thumb
        li ::before (:before)
        li ::first-letter (:first-letter)
        li ::first-line (:first-line)
        li.u-strike ::selection
        li.u-strike ::backdrop

  aside.notes
    ul
      li 6 that aren't browser-specific or experimental
      li only 4 that have decent support
      li only 2 that really matter

section.pseudo-elements(data-transition='fade-in concave-out')
  .c-slide__header
    h4 Pseudo Elements
    //- h2
  .c-slide__body
    .c-slide__content
      ul.c-pseudo-element-list
        li.u-highlight ::after (:after)
        li.u-strike--old ::-ms-fill
        li.u-strike--old ::-ms-fill-lower
        li.u-strike--old ::-ms-fill-upper
        li.u-strike--old ::-ms-thumb
        li.u-strike--old ::-ms-track
        li.u-strike--old ::-moz-progress-bar
        li.u-strike--old ::-moz-range-progress
        li.u-strike--old ::-moz-range-thumb
        li.u-strike--old ::-moz-range-track
        li.u-strike--old ::-webkit-progress-bar
        li.u-strike--old ::-webkit-progress-value
        li.u-strike--old ::-webkit-slider-runnable-track
        li.u-strike--old ::-webkit-slider-thumb
        li.u-highlight ::before (:before)
        li ::first-letter (:first-letter)
        li ::first-line (:first-line)
        li.u-strike--old ::selection
        li.u-strike--old ::backdrop

  aside.notes
    ul
      li 6 that aren't browser-specific or experimental
      li only 4 that have decent support
      li only 2 that really matter




section.pseudo-elements(data-transition='concave-in fade-out')
  .c-slide__header
    h4 Pseudo Elements
    //- h2
  .c-slide__body
    .c-slide__content
      .d-flex--justify
        h3.before.ex-hidden [element]
        h3.after.ex-hidden [element]
  
  aside.notes
    ul
      li imaginary space that you can apply styles to

section.pseudo-elements(data-transition='fade')
  .c-slide__header
    h4 Pseudo Elements
    //- h2
  .c-slide__body
    .c-slide__content
      .d-flex--justify
        h3.before [element]
        h3.after.ex-hidden [element]

section.pseudo-elements(data-transition='fade-in concave-out')
  .c-slide__header
    h4 Pseudo Elements
    //- h2
  .c-slide__body
    .c-slide__content
      .d-flex--justify
        h3.before [element]
        h3.after [element]



section.pseudo-elements(data-transition='')
  .c-slide__header
    h4 Pseudo Elements
    h2 Positions
  .c-slide__body
    .c-slide__content
      h3.before.outline element
      h3.before.outline.absolute.fragment element
      h3.before.outline.absolute-after.fragment element
      h3.before.outline.absolute-z.fragment element
      h3.before.outline.absolute-random.fragment element

  aside.notes
    ul
      li standard position
      li absolute position
      li absolute to mimic an :after
      li z-index that mo-fo (-1)
      li just about anything you can do to a normal element, you can do to a pseudo element



section.pseudo-elements(data-transition='')
  .c-slide__header
    h4 Pseudo Elements
    h2 Lets Talk About Content
  .c-slide__body
    .c-slide__content
      h3.fragment All :before and :after pseudo elements MUST have 'content'.
      .content-example.offset-2
        .set-one
          .fragment
            .thing.shape
            pre.fit-code.u-font--small
              code.hljs.
                content: '';
          .fragment
            .thing.unicode
            pre.fit-code.u-font--small
              code.hljs.
                content: '\2605';
          .fragment
            .thing.data(data-content="Woot!")
            pre.fit-code.u-font--small
              code.html.
                <div data-content="Woot!"></div>
              br
              code.sass.
                content: attr(data-content);

        .set-two
          .fragment
            .thing.counter
              ol
                li item 1
                li item 2
                li item 3
            pre.fit-code.u-font--small
              code.hljs.
                ol {
                  counter-reset: my-counter;
                  list-style: none;
                }
                ol li:before {
                  content: counter(my-counter);
                  counter-increment: my-counter;
                }
  aside.notes
    ul
      li no content and build a shape
      li unicode or icon font character
      li data-
      li custom list items

//- Before & afters
//- positioning (inline element, where they are, etc)
//- z-index = -1
//- data- attributes as content

