section.introduction
  //- .c-slide__header
    //- empty
  .c-slide__body--no-header
    .c-slide__content
      h1.title Thinking Outside the Box With CSS
      br
      a.links(href="http://bit.ly/git-totb") bit.ly/git-totb
      h2.author Brandon Kennedy <span class="u-text--gray">[UI/UX Developer]</span>
      .links.d-flex--center.d-flex--spaced
        a(href="http://codepen.io/brandonkennedy", target="blank") codepen.io/brandonkennedy
        a(href="http://twitter.com/brandontkennedy", target="blank") twitter.com/brandontkennedy
      
      .a__intro
        .box
          .front
          .side
          .brain
          .shadow

  aside.notes
    small
      ul
        li TURN OFF HOT CORNERS BEFORE TALKING
        li UI/UX Developer for a larger corporation
        li in greensboro nc
        li i turn designers' dreams into realities
