<!doctype html>
html
  head
    title html/body animation
    link(rel='stylesheet', href='../../lib/css/pages/fish.min.css')

  body
    input(id="speed" class="control-input" type="checkbox")
    .fish
      .tail
      .fins
        .top
        .bottom
        .bottom
      .body
      .side
      .eye
      .bubbles
        .bubble
        .bubble
        .bubble
        .bubble
    label(for="speed" class="btn" data-content1="Speed Up" data-content2="Woah there! Its not that serious.")